<ul class="nav nav-tabs">
    <li class="nav-item" (click)="activeTab=1">
        <a class="nav-link" [ngClass]="{active:activeTab===1}" href="#Recipe">Recipes</a>
        
    </li>
    <li class="nav-item" (click)="activeTab=2">
        <a class="nav-link" [ngClass]="{active:activeTab===2}" href="#Shopping">Shopping List</a>
        
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active container" [ngClass] = "{active: activeTab===1}"  id="Recipes">
            <app-recipes></app-recipes>
    </div>

    <div class="tab-pane container" [ngClass] = "{active: activeTab===2}">
            <app-shopping-list></app-shopping-list>
    </div>
</div>